@mixin beveled-corners($bg,
$tl:0, $tr:$tl, $br:$tl, $bl:$tr) {
background: $bg;
background:
linear-gradient(126deg, transparent $tl, $bg 0)
top left,
linear-gradient(234deg, transparent $tr, $bg 0)
top right,
linear-gradient(-55deg, transparent $br, $bg 0)
bottom right,
linear-gradient(55deg, transparent $bl, $bg 0)
bottom left;
background-size: 51% 51%;
background-repeat: no-repeat;
}

@mixin beveled-corners--2($bg,
$tl:0, $tr:$tl, $br:$tl, $bl:$tr) {
background: $bg;
background:
linear-gradient(113deg, transparent $tl, $bg 0)
top left,
linear-gradient(247deg, transparent $tr, $bg 0)
top right,
linear-gradient(-67deg, transparent $br, $bg 0)
bottom right,
linear-gradient(67deg, transparent $bl, $bg 0)
bottom left;
background-size: 51% 51%;
background-repeat: no-repeat;
}

