@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Roboto+Mono:wght@400;500;700&display=swap");
.burger__text {
  display: none;
}

.menu__link {
  -webkit-transition: 0.3s;
  -moz--transition: 0.3s;
  transition: 0.3s;
}

.menu__link::after {
  background-color: #ffffff;
  display: inline-block;
  content: "";
  height: 1px;
  width: 1%;
  -webkit-transition: width 0.3s;
  -moz--transition: width 0.3s;
  transition: width 0.3s;
}

.menu__link:hover {
  padding-top: 13px;
  color: #fa098f;
  -webkit-transition: all 0 0.3s;
  transition: all 0 0.3s;
}

.menu__link:hover::after {
  width: 100%;
  background-color: #fa098f;
}

#check-menu {
  display: none;
}

@media (max-width: 960px) {
  .burger__text {
    top: 16px;
    left: 51px;
    font-family: Formular;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    color: #1A1A1A;
    position: absolute;
    z-index: -1;
    display: inline;
  }
}

@media (max-width: 460px) {
  .menu {
    margin-right: 0;
  }
}

@media (max-width: 960px) {
  .menu__list {
    display: none;
    z-index: 99;
    position: absolute;
    background-color: #fbfbfb;
  }
  .menu__link {
    font-size: 19px;
    z-index: 999;
  }
  .wrapper {
    width: 210px;
    position: relative;
    color: white;
    text-align: center;
    height: 40px;
  }
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .burger-line {
    position: absolute;
    top: 4px;
    width: 45px;
    height: 6px;
    background-color: #1A1A1A;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .second {
    top: 17px;
    background-color: #1A1A1A;
  }
  .third {
    top: 17px;
    background-color: #1A1A1A;
  }
  .fourth {
    top: 30px;
    background-color: #1A1A1A;
  }
  .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    max-height: 0;
    font-size: 0;
    overflow: hidden;
  }
  #check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 16px;
    bottom: -40px;
    left: -64px;
    width: 100%;
    padding-top: 28px;
    background-color: #FFFFFF;
    padding-left: 0%;
    padding-right: 120px;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  #check-menu:checked ~ .second {
    right: -29px;
    top: 17px;
  }
  #check-menu:checked ~ .third {
    right: -29px;
    top: 17px;
  }
  #check-menu:checked ~ .burger__text {
    padding: 25px 175px 26px 25px;
    top: 0px;
    left: -64px;
    font-size: 15px;
    text-transform: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  #check-menu:checked ~ label {
    padding-left: 70px;
  }
  #check-menu:checked ~ .menu__list {
    width: 259px;
    bottom: -40px;
    left: -64px;
    background-color: #FFFFFF;
    padding: 0;
    padding-right: 25px;
    text-align: left;
    padding-top: 27px;
    padding-left: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  #check-menu:checked ~ .nav__list li {
    padding-left: 17%;
    padding-bottom: 14px;
  }
  #check-menu:checked ~ .wrapper {
    width: 288px;
  }
  .menu__item {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
  }
}

@media (max-width: 960px) {
  .wrapper {
    width: 160px;
    position: relative;
    height: 44px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    z-index: 0;
  }
  label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .burger-line {
    position: absolute;
    left: 27px;
    top: 17px;
    width: 14px;
    height: 2px;
    background-color: #1A1A1A;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  .second {
    top: 21px;
    background-color: #1A1A1A;
  }
  .third {
    top: 21px;
    background-color: #1A1A1A;
  }
  .fourth {
    top: 25px;
    background-color: #1A1A1A;
  }
  .main-menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  #check-menu:checked ~ .first {
    display: none;
  }
  #check-menu:checked ~ .fourth {
    display: none;
  }
  #check-menu:checked ~ .second {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #check-menu:checked ~ .third {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #check-menu:checked ~ .wrapper {
    width: 288px;
  }
  #check-menu:checked ~ .burger-line {
    left: 189px;
    top: 33px;
  }
  .menu__link {
    z-index: 999;
    font-size: 16px;
  }
  .menu__item {
    padding-right: 33px;
    display: block;
    width: 100%;
    padding: 5px;
    color: white;
  }
}

@font-face {
  font-family: 'Formular';
  src: local("Formular Regular"), local("Formular-Regular"), url("/fonts/Formular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Formular-Bold';
  src: local("Formular Bold"), local("Formular-Bold"), url("/fonts/Formular-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: #000000;
  font-family: 'Roboto Mono', monospace;
}

.main {
  background-color: #FFF8EA;
  margin: 0 auto;
  text-align: center;
  background: #FFF8EA;
  background: linear-gradient(126deg, transparent 25px, #FFF8EA 0) top left, linear-gradient(234deg, transparent 25px, #FFF8EA 0) top right, linear-gradient(-55deg, transparent 25px, #FFF8EA 0) bottom right, linear-gradient(55deg, transparent 25px, #FFF8EA 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  border-radius: 6px;
  max-width: 1360px;
  position: relative;
  margin-top: 84px;
}

@media (max-width: 1100px) {
  .main {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 500px) {
  .main {
    margin-top: 48px;
    background: #FFF8EA;
    background: linear-gradient(126deg, transparent 5px, #FFF8EA 0) top left, linear-gradient(234deg, transparent 5px, #FFF8EA 0) top right, linear-gradient(-55deg, transparent 5px, #FFF8EA 0) bottom right, linear-gradient(55deg, transparent 5px, #FFF8EA 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
  }
}

.main__title {
  font-weight: bold;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #15142C;
  padding-top: 67px;
  padding-bottom: 24px;
  max-width: 867px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .main__title {
    font-size: 22px;
    line-height: 26px;
    padding-top: 32px;
    padding-bottom: 11px;
  }
}

.main__descr {
  font-weight: normal;
  font-size: 23px;
  line-height: 35px;
  color: #1A1A1A;
  max-width: 950px;
  margin: 0 auto;
  padding-bottom: 43px;
}

@media (max-width: 500px) {
  .main__descr {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
    padding-bottom: 0;
    width: 288px;
    height: 85px;
    overflow: hidden;
  }
  .main__descr::before {
    content: 'Красивый интересный увлекательный лид длиной в несколько строк, не слишком много и не слишком мало \00a0 \00a0 \00a0';
  }
}

.main__img {
  z-index: 0;
  width: 89vw;
  position: absolute;
  right: 19px;
  bottom: 37px;
}

@media (max-width: 500px) {
  .main__img {
    width: 100vw;
    right: 0px;
    bottom: 55px;
  }
}

.social {
  padding-top: 30px;
  padding-bottom: 193px;
}

@media (max-width: 500px) {
  .social {
    padding-bottom: 70px;
    height: 32px;
    line-height: 26px;
    text-align: center;
  }
}

.social__share {
  display: none;
}

@media (max-width: 500px) {
  .social__share {
    display: block;
    margin: 0 auto;
    font-family: Formular;
    font-weight: normal;
    font-size: 13px;
    color: #999999;
    padding-bottom: 13px;
    text-align: center;
  }
}

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  padding: 6px 47px;
  display: inline-block;
  margin-left: 6px;
  margin-right: 6px;
  z-index: 5;
}

@media (max-width: 500px) {
  .social__link {
    margin-left: 1px;
    margin-right: 1px;
    width: 42px;
    background-color: transparent;
    padding: 0;
    border-right: 1px solid #E5E5E5;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
  }
  .social__link:last-child {
    border-right: 0;
    padding-right: 0;
  }
}

.social__link img {
  vertical-align: middle;
}

.decor {
  letter-spacing: normal;
}

.decor__top {
  font-size: 28px;
}

.decor__bottom {
  font-size: 28px;
  padding-bottom: 40px;
}

.logo {
  margin-bottom: 48px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 52px;
  text-align: center;
}

@media (max-width: 500px) {
  .logo {
    padding-top: 29px;
    margin-bottom: 73px;
  }
}

.articles {
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 960px) {
  .articles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .articles {
    padding-top: 23px;
  }
}

.sections {
  padding-left: calc(9.35%);
}

@media (max-width: 960px) {
  .sections {
    padding-left: 0;
  }
}

@media (max-width: 500px) {
  .sections {
    padding-left: 12px;
    padding-right: 12px;
  }
}

a.active {
  color: #EA6263;
}

.cards {
  background: #F7F7F7;
  background: linear-gradient(113deg, transparent 28px, #F7F7F7 0) top left, linear-gradient(247deg, transparent 28px, #F7F7F7 0) top right, linear-gradient(-67deg, transparent 28px, #F7F7F7 0) bottom right, linear-gradient(67deg, transparent 28px, #F7F7F7 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  max-width: 1360px;
  margin: 0 auto;
  margin-bottom: 231px;
}

@media (max-width: 500px) {
  .cards {
    background: #F7F7F7;
    background: linear-gradient(113deg, transparent 5px, #F7F7F7 0) top left, linear-gradient(247deg, transparent 5px, #F7F7F7 0) top right, linear-gradient(-67deg, transparent 5px, #F7F7F7 0) bottom right, linear-gradient(67deg, transparent 5px, #F7F7F7 0) bottom left;
    background-size: 51% 51%;
    background-repeat: no-repeat;
  }
}

.nav {
  padding-top: 47px;
  padding-left: 61px;
  max-width: 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 960px) {
  .nav {
    padding-left: 0;
    padding-top: 1px;
    padding-bottom: 18px;
    margin: 0 auto;
    top: 13px;
  }
}

.nav__list {
  padding-left: 0;
}

@media (max-width: 960px) {
  .nav__list {
    max-height: 0;
    overflow: hidden;
  }
}

.nav__list li {
  list-style: none;
  padding-bottom: 20px;
  color: #999999;
}

.nav__list li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: em;
  margin-left: -1em;
}

.nav__link {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #4C4C4C;
  padding-left: 7px;
}

li.active {
  color: #EA6263;
}

.section {
  margin: 0 auto;
  text-align: center;
  max-width: 582px;
}

.section__number {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.14em;
  color: #FFFFFF;
  background-color: #EA6263;
  border-radius: 50%;
  display: inline-block;
  padding: 15px 20px;
  margin-bottom: 16px;
}

@media (max-width: 600px) {
  .section__number {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 13px;
    margin-top: 53px;
  }
  .section__number--with-img {
    margin-top: 0;
  }
  .section__number--third {
    margin-top: 62px;
  }
}

.section__number--soon {
  background-color: #999999;
}

.section__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 48px;
  background-image: url("/img/card.svg");
  background-repeat: no-repeat;
  padding-bottom: 77px;
  margin-bottom: 36px;
  min-height: 176px;
}

@media (max-width: 600px) {
  .section__item {
    background-image: url("/img/card_mob.svg");
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-position: center top;
  }
}

.section__img {
  padding-left: 24px;
  padding-right: 32px;
}

.section__text {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 600px) {
  .section__text {
    padding-left: 22px;
    padding-right: 22px;
  }
  .section__text--third {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.section__text--with-img {
  background-image: url("/img/device.svg");
  background-repeat: no-repeat;
  padding-left: 242px;
  padding-right: 20px;
  margin-left: 25px;
}

@media (max-width: 600px) {
  .section__text--with-img {
    padding-left: 0;
    padding-bottom: 20px;
    background-position: center 178px;
    padding-right: 0;
    margin-left: 0;
    padding-top: 54px;
  }
}

.section__title {
  margin: 0;
  padding-bottom: 34px;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  max-width: 292px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .section__title {
    margin-top: 22px;
    max-width: 230px;
  }
  .section__title--third {
    margin-top: 50px;
  }
}

.section__title--with-img {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  max-width: 292px;
}

@media (max-width: 600px) {
  .section__title--with-img {
    text-align: center;
    padding-bottom: 224px;
    font-family: Formular-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-right: 0;
  }
}

.section__descr {
  font-weight: normal;
  font-size: 17px;
  line-height: 26px;
  color: #262626;
  text-align: center;
}

@media (max-width: 600px) {
  .section__descr {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    padding-top: 11px;
    padding-bottom: 22px;
  }
  .section__descr--third {
    padding-top: 39px;
  }
}

.section__descr--with-img {
  text-align: left;
  max-width: 300px;
}

@media (max-width: 600px) {
  .section__descr--with-img {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    padding: 0 10px;
  }
}

.section__descr--soon {
  padding-top: 42px;
}

@media (max-width: 600px) {
  .section__descr--soon {
    padding-top: 16px;
    max-width: 240px;
  }
}

.section__decor {
  margin-bottom: 52px;
}

.footer {
  max-width: 1360px;
  margin: 0 auto;
}

.footer__logo {
  padding-top: 11px;
  margin-bottom: 28px;
}

@media (max-width: 500px) {
  .footer__logo {
    text-align: center;
    padding-top: 54px;
    margin-bottom: 15px;
  }
}

.footer__feauters {
  font-family: Formular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-align: center;
  color: #999999;
  padding-bottom: 27px;
  line-height: 18px;
}

.footer__social {
  padding-top: 30px;
  padding-bottom: 95px;
  text-align: center;
}

@media (max-width: 500px) {
  .footer__social {
    padding-top: 11px;
    padding-bottom: 67px;
  }
}
/*# sourceMappingURL=style.css.map */